<h1><%= @Doctor.last_name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />

<h2>November</h2>
<ul>
  <% @date.each do |date| %>
    <li>
      <%= date.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointments_path(@doctor, date), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>December</h2>
<ul>
  <% @date1.each do |day1| %>
    <li>
      <%= day1.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, date2), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>January</h2>
<ul>
  <% @date2.each do |day2| %>
    <li>
      <%= day2.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, date3), method: :delete %>
   </li>
 <% end %>
</ul>